{% extends 'blog/layout.html' %}
{% block content %}
    <div class="media-body">
        <h2><a class="article-title" href="#">Simoniel Musyoki</a></h2>
        <img src="../../static/img/default.jpg" alt="Profile Image" style="width: 300px; height: 300px; border-radius: 50%; display: flex; justify-content: center; align-items: left;"/>
        <hr>
        <p class="article-content"> Hi, Am Musyoki, A full stack developer  based in Nairobi, Kenya. I have many years of experience in Python, Django/Flask, React and Node.js. I am also an AI/ML Analyst</p>
        <p class="article-content">Outside programming, I am an avid reader and teach in Tech Bootcamps and Conferences </p>
      
      </div>
{% endblock content%}
